// Put any @imports here
// See Readme for a list of supported ones

@import 'foundation';
@import 'bourbon';
@import 'neat';

body {
  background: white;
}

.top-bar {
  background-color: #980C20;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background: #980C20;
}

form {
  width: 500px;
  margin: 30px auto;
}

.outergame {
  @include outer-container
  margin: 20px auto;
}

.gamecontainer {
  @include span-columns(4);
  @include omega(3n);
  width: 200px;
  background-color: #980C10;
  margin: 30px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

img {
  width: 50%;
  height: 150px;
  margin: auto 25%;
  display: inline-block;
}

.gametitles {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  background-color: #ccc;
}

p {
  width: 100%;
  margin: 0;
  background-color: #ccc;
}

.biggerpic {
  width: 50%;
  height: auto;
  margin: 0;
}

.reviewcontainer {
  width: 500px;
  margin: 20px auto;
  border: 1px solid red;
  background-color: #ccc;
  border-radius: 6px;
}
