<div class="homecontainer">
  <h1>Welcome To VidG Reviews</h1>
  <h2>Anonymous Reviews from Anonymous Gamers</h2>
  <ul class="example-orbit" data-orbit>
    <li>
      <img src="http://i1-news.softpedia-static.com/images/news2/Fallout-4-Gets-New-Gameplay-Videos-Stellar-Screenshots-484350-2.jpg" alt="slide 1" />
      <div class="orbit-caption">
        Fallout 4 in Action!!!!!
      </div>
    </li>
    <li class="active">
      <img src="http://foundation.zurb.com/docs/assets/img/examples/andromeda-orbit.jpg" alt="slide 2" />
      <div class="orbit-caption">
        Caption Two.
      </div>
    </li>
    <li>
      <img src="http://foundation.zurb.com/docs/assets/img/examples/launch-orbit.jpg" alt="slide 3" />
      <div class="orbit-caption">
        Caption Three.
      </div>
    </li>
  </ul>

  <h3>Who are we?</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>
