
<div class="reviewcontainer">
  <h3 class="gameheader">{{ singleGame.title }}</h3>
  <img class="biggerpic" src="{{singleGame.image_url}}"/>
  <a href="http://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Daps&field-keywords={{singleGame.title}}"><img class="amazonbuy" src="https://images-na.ssl-images-amazon.com/images/G/01/associates/remote-buy-box/buy3._V192207739_.gif"/></a>
  <hr>
  <p><span>Title:</span> {{singleGame.title}}</p>
  <p><span>Year:</span> {{singleGame.year}}</p>
  <p><span>Score:</span> {{singleGame.score}} /10</p>
  <p><span>Review:</span>
  <br>
  {{singleGame.reviewtext}}
  </p>
</div>
